# dependencies
node_modules/
.env
.env.local
.pnpm-store/
dist/
.build/
.next/

# system files
.DS_Store
Thumbs.db

# logs
logs/
*.log

# editor stuff
.vscode/
.idea/

# coverage/testing
coverage/
jest.config.js
